.config-header {
  background-color: transparent;
  padding: 12px;
  height: unset;
  line-height: unset;
}

.code-header {
  /* background: rgb(255, 255, 255);
  padding: 0px;
  height: unset;
  line-height: unset; */
  background-color: transparent;
  padding: 5px 12px 5px;
  height: unset;
  line-height: unset;
}
.run-code-btn {
  float: right;
}

.code-layout {
  background: rgb(255, 255, 255);
  height: 100%;
  padding: 0px 15px 15px 15px;
}

.code-content {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 10px 0 0 0;
  border-radius: 4px;
  overflow: hidden;
}

.run-layout {
  background: rgb(255, 255, 255);
  height: 100%;
  padding: 0px 15px 15px 15px;
}

.run-header {
  background: rgb(255, 255, 255);
  padding: 5px 0 5px;
  height: unset;
  line-height: unset;
}

/* .run-header > span:nth-child(2) {
  margin: 0 10px;
} */

.run-header > span {
  display: inline-block;
  /* font-size: 0.6rem; */
  font-size: 10px;
  color: #999;
  margin-left: 10px;
}

.run-header > span:first-child {
  margin-left: unset;
}

.run-content {
  background: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.view-iframe {
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  outline: none;
}

.app-footer a.ant-btn {
  padding: 0 2px 0 4px;
}

.delete-button {
  margin-left: 10px;
  font-size: 18px;
}

.scripts-list {
  min-height: 45px;
  position: relative;
  max-height: 340px;
  overflow: auto;
}

.right-actions {
  > * {
    margin-left: 12px;
  }
}
.code-error-wrapper {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.85);
}
.code-error-header {
  text-align: right;
}
.code-error-info {
  flex: 1;
  overflow: auto;
}
