.error-wrapper {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.error-wrapper.sandbox {
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.85);
}
.error-wrapper .error-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #a3a3a3;
}
.error-wrapper .icon-wrapper {
  margin-bottom: 16px;
  text-align: center;
  font-size: 36px;
  color: #ff4d4f;
}
.error-wrapper .error-content .error-text {
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
}
.error-wrapper .error-content .error-info {
  margin: 0 auto;
  width: 70%;
  font-size: 12px;
  text-align: center;
}
