:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  height: 100vh;
}

.app-layout {
  height: 100%;
  background-color: transparent;
}

.app-header,
.app-footer {
  background-color: transparent;
}

.app-header {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    .ant-btn {
      padding-right: 0;
      font-size: 20px;
      color: #000;
    }
  }
}
.app-footer {
  padding: 20px;
}
