:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  height: 100vh;
}

.app-layout {
  height: 100%;
  background-color: transparent;
}

.app-header,
.app-footer {
  background-color: transparent;
}

.app-header {
  padding: 0 20px;
}
.app-footer {
  padding: 20px;
}

.code-header {
  /* background: rgb(255, 255, 255);
  padding: 0px;
  height: unset;
  line-height: unset; */

  background: rgb(255, 255, 255);
  padding: 5px 12px 5px;
  height: unset;
  line-height: unset;
}
.run-code-btn {
  float: right;
}

.code-content {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.run-layout {
  background: rgb(255, 255, 255);
  height: 100%;
  padding: 0px 15px 15px 15px;
}

.run-header {
  background: rgb(255, 255, 255);
  padding: 5px 0 5px;
  height: unset;
  line-height: unset;
}

.run-header > span:nth-child(2) {
  margin: 0 10px;
}

.run-header > span {
  display: inline-block;
  font-size: 0.8rem;
  color: #999;
}

.run-content {
  background: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.view-iframe {
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  outline: none;
}

.app-footer a.ant-btn {
  padding: 0 2px 0 4px;
}

.delete-button {
  margin-left: 10px;
  font-size: 18px;
}

.scripts-list {
  min-height: 45px;
  position: relative;
  max-height: 340px;
  overflow: auto;
}

.right-actions {
  > * {
    margin-left: 12px;
  }
}